.date-filter {
    padding: 8px;
    gap: 8px;
}

.date-filter__header {
    display: flex;
    justify-content: space-between;
}

.date-filter__header button {
    color: green;
}

.date-filter__dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-filter__dropdown {
    cursor: pointer;
    border: 1px solid lightgrey;
    padding: 4px;
    display: flex;
    gap: 4px;
}

.date-filter__ranges {
    display: flex;
}