.form-input {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
}

.form-input__label {
   margin-right: 8px;
   color: #6c84bc; 
}

.form-input__field {
    border: none;
    border-bottom: 1px solid lightgrey;
}

input {
    all: unset;
}