.drop-down {
    position: absolute;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 1000;
}

.drop-down__element {
    padding: 10px;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}